@model UserForRegistrationDto
@{
    ViewData["Title"] = "ResetPassword";
    Layout = "~/Views/SharedNew/_Layout.cshtml";
}

<h1 class="fw-bolder text-center " style="color:darkred">Şifre Sıfırlama</h1>

<div class="container ">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <form asp-controller="Account" asp-action="ResetPassword" method="post">
                <div class="form-group">
                    <label style="color:black"><b>Kod Gönderilecek Mail Adresinizi Giriniz</b></label>
                    <input type="text" class="form-control" asp-for="Email" ><br />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>

                <button class="btn btn-primary">Gönder</button>
            </form>
        </div>
    </div>
</div>