@model IEnumerable<Appointment>
@{
    ViewData["Title"] = "List";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<h1 class="fw-bolder text-center" style="color:darkred">Randevu Listesi</h1>

<div>
    <label for="selectedDate">Tarih Seçin:</label>
    <input type="date" id="selectedDate" />
    <button id="filterButton">Filtrele</button>
</div>

<div id="filteredAppointments">
    @Html.Partial("_AppointmentPartial",Model)
</div>


    


@section scripts{
    <script>
       

        $(document).ready(function () {
            $("#filterButton").click(function () {
                let date = $("#selectedDate").val();

                $.ajax({
                    contentType: "application/json",
                    dataType: "html",
                    type: "get",
                    url: "/User/Appointment/Ajax",
                    data: { selectedDate: date },
                    success: function (func) {
                        $('#filteredAppointments').html(func);
          
                    },


                        
                    error: function (xhr, status, error) {
                        console.error(xhr.responseText);
                    },
                });
            });
           
        });
     
    </script>

}