
@{
    ViewData["Title"] = "DuyuButunleme";
    Layout = "~/Views/SharedNew/_Layout.cshtml";
}

<h1 class="fw-bolder text-center " style="color:darkred">Duyu Bütünleme Nedir</h1>

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <img src="~/images/foto6.png" class="img-fluid img-thumbnail rounded-circle mx-auto d-block" alt="resim" width="500px" height="500px">
        </div>
    </div>

    <p class="" style="border: 2px solid #333; border-radius: 10px; padding: 10px;">
        Duyu bütünleme, vücudun çeşitli duyusal bilgileri (görme, işitme, dokunma, koku, tat, denge, vb.) almasını, işlemesini ve bu duyusal bilgileri bir araya getirerek anlamlandırmasını ifade eden bir kavramdır. Ayrıca, "duyusal bütünleme" veya "duyusal entegrasyon" olarak da bilinir. Duyu bütünleme, özellikle nörolojik bozuklukları olan bireylerde, öğrenme güçlükleri yaşayanlarda ve bazı gelişimsel bozuklukları olan çocuklarda önemli bir rol oynar.<br /><br />

        Duyu bütünleme, beynin, çevresel duyusal bilgileri işleyerek, uygun tepkileri üretebilmesi için bu bilgileri bir araya getirmesini gerektirir. Örneğin, bir kişi bir topu yakalamak için gözleriyle topun hareketini takip ederken, elleriyle topu tutar ve vücudu dengeyi sağlar. Tüm bu süreçlerin koordinasyonu ve doğru bir şekilde gerçekleştirilmesi, duyu bütünleme sürecine bağlıdır.<br /><br />

        Duyu bütünleme, çocukların motor becerilerini geliştirmelerine, dikkatlerini odaklamalarına, problem çözmelerine ve çevrelerini daha iyi anlamalarına yardımcı olabilir. Özellikle otizm spektrum bozukluğu gibi gelişimsel bozuklukları olan çocuklar veya duyu işlemleme bozukluğu gibi rahatsızlıkları olan bireyler, duyu bütünleme terapisi alabilirler. Duyu bütünleme terapisi, bu bireylerin duyusal bilgileri daha iyi işlemelerine ve çevreleriyle daha iyi etkileşim kurmalarına yardımcı olmak için kullanılır. Terapi, özel eğitimciler, fiziksel terapistler veya ergoterapistler tarafından uygulanır ve bireyin özel ihtiyaçlarına göre özelleştirilir.
    </p>



