
@{
    ViewData["Title"] = "Ergoterapi";
    Layout = "~/Views/SharedNew/_Layout.cshtml";
}

<h1 class="fw-bolder text-center " style="color:darkred">Ergoterapi Nedir</h1>

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <img src="~/images/foto7.webp" class="img-fluid img-thumbnail rounded-circle mx-auto d-block" alt="resim" width="500px" height="500px">
        </div>
    </div>

    <p class="" style="border: 2px solid #333; border-radius: 10px; padding: 10px;">
      <b>Ergoterapi (Occupational Therapy)</b>, insanların günlük yaşam aktiviteleri, iş, eğitim ve boş zaman gibi işlevsel etkinliklerini daha bağımsız bir şekilde sürdürebilmelerine yardımcı olmayı amaçlayan bir tıbbi ve rehabilitasyon alanıdır. Ergoterapistler (occupational therapist), bireylerin yaşam kalitesini artırmak ve yaşam aktivitelerini iyileştirmek için çeşitli yaklaşımları ve terapötik teknikleri kullanırlar. Bu terapi, genellikle sağlık sorunları, yaralanmalar, engellilik veya yaşlılık gibi durumlarla başa çıkmak için kullanılır.<br /><br />

       <b> Ergoterapi</b>, aşağıdaki alanlarda yardımcı olabilir:<br /><br />

       <b>Günlük Yaşam Becerileri</b>: Bireylerin temel günlük yaşam becerilerini (yemek yeme, giyinme, tuvalete gitme, temizlik yapma) geliştirmelerine yardımcı olur.<br /><br />

      <b>Bağımsızlık</b> Engellilik veya sağlık sorunları nedeniyle bağımsızlığını kaybetmiş bireylerin, evlerinde ve toplumda daha bağımsız bir şekilde yaşamalarına yardımcı olur.<br /><br />

        <b>Çocuk Gelişimi</b>: Çocuklar için oyun terapisi gibi aktiviteleri kullanarak gelişimlerini destekler.<br /><br />

     <b>Zihinsel Sağlık</b>: Ruh sağlığı sorunları yaşayan bireylere, stres yönetimi, duygusal düzenleme ve yaşamın anlamını bulma gibi becerileri öğretir.<br /><br />

       <b>Çalışma ve Meslek Danışmanlığı</b>: İş yerinde başarılı olmak ve kariyerlerini sürdürebilmek isteyen bireylere destek verir.<br /><br />

      Rehabilitasyon Yaralanma veya ameliyat sonrası rehabilitasyon süreçlerini yönlendirir ve işlevsel yeteneklerin geri kazanılmasına yardımcı olur.<br /><br />

     <b>Ergoterapistler</b>, bireylerin ihtiyaçlarına ve hedeflerine göre özelleştirilmiş tedavi planları geliştirirler. Bu planlar, kişinin günlük yaşam aktivitelerini daha etkili bir şekilde sürdürebilmesine, ağrıyı hafifletebilmesine, hareket kabiliyetini artırabilmesine veya ruh sağlığını iyileştirebilmesine yönelik olabilir. Ergoterapi, bireyin yaşam kalitesini artırarak daha bağımsız ve mutlu bir yaşam sürmelerine yardımcı olur.<br /><br />
    </p>


