
@{
    ViewData["Title"] = "Hakkımızda";
    Layout = "~/Views/SharedNew/_Layout.cshtml";
}

<h1 class="fw-bolder text-center " style="color:cadetblue">Yaz Özel Eğitim ve Rehabilitasyon Merkezi</h1><br />
<h6 class="text-center ">Biz Birlikte <b>Özeliz</b> </h6><br /><br />
<h1 class="fw-bolder text-center " style="color:cadetblue">KURUMUMUZUN MİSYONU</h1><br />
<p><b>Biz Özel Eğitim ve Rehabilitasyon Merkezi olarak biz; tüm özel bireylerin sunduğumuz eğitim hizmetlerinden yararlanması, kendi ihtiyaçlarını kendisinin karşılayabilmesi, toplum yaşamına uyum sağlaması, yaşadıklarının ve hissettiklerinin her alanda toplum tarafından kabullenilmesi, saygı sevgi ve hoşgörü ile beslenen bir toplumsal bilincin oluşması için varız.<br /><br />
    Sürekli gelişen ve değişen dünyamızda, psikolojik pedagojik danışmanlık ve rehberlik hizmetlerini özel eğitime ihtiyacı olan bireylere en üst seviyede ulaştırmak, bu alanda öncü ve lider olmak. Eğitimi bireyin hak ve ihtiyacı kabul eden öğrencilerine ve velilerine her türlü eğitim fırsatını tanıyan, öğrenmeyi ve gelişmeyi karşılıklı olarak destekleyen, duygu düşünce ve fikirlerini rahatlıkla ifade eden, tüm fikirlere açık olan, doğruları söylerken tepkilerden korkmayan, iletişime ve teknolojiye önem veren, her gün daha iyiye ulaşmak için çalışan, her veliye en değerli varlığını bize emanet etmenin mutluluğunu yaşatan, takım çalışmasına teşvik eden, katılımcı ve paylaşımcı bir yönetime sahip Biz Özel Eğitim ailesiyiz.</b></p><br /><br />
<h1 class="fw-bolder text-center " style="color:cadetblue">DEĞERLERİMİZ</h1>
<br />
<ul class="list-group">
    @*<li class="list-group-item">Dapibus ac facilisis in</li>*@


    <li class="list-group-item list-group-item-dark">SEVGİ</li>
    <li class="list-group-item list-group-item-dark">SAYGI</li>
    <li class="list-group-item list-group-item-dark">HOŞGÖRÜ</li>
    <li class="list-group-item list-group-item-dark">ÇEVRE BİLİNCİ</li>
    <li class="list-group-item list-group-item-dark">ÇALIŞKANLIK</li>
    <li class="list-group-item list-group-item-dark">SORUMLULUK</li>
    <li class="list-group-item list-group-item-dark">PAYLAŞIM</li>
    <li class="list-group-item list-group-item-dark">BAŞARI</li>
    <li class="list-group-item list-group-item-dark">SORGULAMA</li>
</ul>