
@{
    ViewData["Title"] = "Rehabilitasyon";
    Layout = "~/Views/SharedNew/_Layout.cshtml";
}
<h1 class="fw-bolder text-center " style="color:darkred">Özel Eğitim Merkezi Nedir</h1>
@*<div class="container my-5">
    <div class="row">
        <div class="col-12 ">
            <img src="~/images/foto1.jpg" class="img-fluid img-thumbnail  rounded-circle " alt="resim" width="500px" height="500px">
        </div>
    </div>
</div>
merhaba*@

<div class="container my-5">
    <div class="row">
        <div class="col-12">
            <img src="~/images/foto1.jpg" class="img-fluid img-thumbnail rounded-circle mx-auto d-block" alt="resim" width="500px" height="500px">
        </div>
    </div>
  @*  <div class="row">
        <div class="col-12 ">
            <p class="lead">
                Özel eğitim merkezi, farklı öğrenme ihtiyaçlarına sahip bireylerin eğitim ihtiyaçlarını karşılamak amacıyla kurulan eğitim kurumlarıdır. Bu merkezler, özellikle öğrenme güçlüğü, zihinsel engel, duyusal engel, otizm spektrum bozukluğu gibi özel gereksinimlere sahip bireylerin eğitimine odaklanır. Özel eğitim merkezlerinin amacı, bu bireylerin öğrenme potansiyellerini en üst düzeye çıkarmak ve topluma daha fazla entegre olmalarına yardımcı olmaktır.

                Özel eğitim merkezleri, çocuklardan yetişkinlere kadar farklı yaş gruplarındaki bireylere hizmet verebilir. Bu merkezlerde eğitim, bireyin özel gereksinimlerine ve öğrenme tarzına uygun olarak düzenlenir. Öğretmenler ve uzmanlar, bu bireylerin özel ihtiyaçlarına göre eğitim programları geliştirir ve bireysel eğitim planları oluştururlar.

                Özel eğitim merkezlerinde, bireylerin iletişim becerileri, özbakım becerileri, sosyal etkileşim yetenekleri ve diğer önemli yaşam becerileri geliştirilmeye çalışılır. Bu merkezler ayrıca ailelere danışmanlık ve rehberlik hizmetleri sunarak, ailelerin bu özel gereksinimlere sahip bireylerin eğitimine nasıl daha iyi destek olabileceklerini öğrenmelerine yardımcı olurlar.

                Özel eğitim merkezleri, toplumsal farkındalığı artırarak özel gereksinimlere sahip bireylerin yaşamlarını daha iyi yaşamalarına yardımcı olurken, topluma daha fazla katkıda bulunmalarını teşvik ederler.
            </p>
        </div>
    </div>*@ 
</div>
<p class="" style="border: 2px solid #333; border-radius: 10px; padding: 10px;">
    Özel eğitim merkezi, farklı öğrenme ihtiyaçlarına sahip bireylerin eğitim ihtiyaçlarını karşılamak amacıyla kurulan eğitim kurumlarıdır. Bu merkezler, özellikle öğrenme güçlüğü, zihinsel engel, duyusal engel, otizm spektrum bozukluğu gibi özel gereksinimlere sahip bireylerin eğitimine odaklanır. Özel eğitim merkezlerinin amacı, bu bireylerin öğrenme potansiyellerini en üst düzeye çıkarmak ve topluma daha fazla entegre olmalarına yardımcı olmaktır.

    Özel eğitim merkezleri, çocuklardan yetişkinlere kadar farklı yaş gruplarındaki bireylere hizmet verebilir. Bu merkezlerde eğitim, bireyin özel gereksinimlerine ve öğrenme tarzına uygun olarak düzenlenir. Öğretmenler ve uzmanlar, bu bireylerin özel ihtiyaçlarına göre eğitim programları geliştirir ve bireysel eğitim planları oluştururlar.

    Özel eğitim merkezlerinde, bireylerin iletişim becerileri, özbakım becerileri, sosyal etkileşim yetenekleri ve diğer önemli yaşam becerileri geliştirilmeye çalışılır. Bu merkezler ayrıca ailelere danışmanlık ve rehberlik hizmetleri sunarak, ailelerin bu özel gereksinimlere sahip bireylerin eğitimine nasıl daha iyi destek olabileceklerini öğrenmelerine yardımcı olurlar.

    Özel eğitim merkezleri, toplumsal farkındalığı artırarak özel gereksinimlere sahip bireylerin yaşamlarını daha iyi yaşamalarına yardımcı olurken, topluma daha fazla katkıda bulunmalarını teşvik ederler.
</p>

