
@{
    ViewData["Title"] = "Failure";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<div class="container mt-5">
    
    <h1 class="text-success"> Ödeme İşleminiz Yapılamamıştır</h1>

</div>

