
@{
    ViewData["Title"] = "Success";
    Layout = "~/Areas/User/Views/Shared/_UserLayout.cshtml";
}

<div class="container mt-5">
    
    <h3 class="text-success"> Ödeme İşleminiz Tamamlanmıştır</h3>

</div>


@*<form asp-area="User" asp-controller="Payment" asp-action="Success" method="post">
    <div class="mb-2 col-md-6 mx-auto">
    <label for="appointmentId" class="form-label">Randevu Id</label>
        <input type="text" id="appointmentId" name="appointmentId" class="form-control" />
    </div>
</div>

<div style="text-align:center;">
    <button type="submit" class="btn btn-primary text-center" id="start-payment"><i class="fa fa-check" aria-hidden="true"></i>Ödemeyi Güncelle</button>
</div>


</form>*@